<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Test Flask</title>
    </head>
    <body>
        <h2>Test Model Input</h2>
        <form method="post" action="/add_data">
            <input type="text" name="title">
            <input type="text" name="description">
            <button type="submit">Add to db</button>
        </form>
        <form method="post" action="/reset_data">
            <button type="submit">Clear db</button>
        </form>
    </body>
</html>